.tableContainer {
  background-color: #f3f4f6;
  margin-top: 50px;
}

.rowContainer {
  display: flex;
  flex-direction: column;
  margin: 0.25rem;
  padding: 0.25rem 0.5rem 1.25rem 0.5rem;
  border-bottom: 1px solid #d4d4d8;
}

.row {
  display: flex;
  align-items: center;
}

.rowInput {
  flex: 1;
  margin: 0.25rem;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.regexIcon {
  cursor: pointer;
}

.regexActive {
  fill: #f0a020;
}

.rowMethodTag {
  width: 12.5rem;
  display: flex;
  align-items: center;
}

.methodTag {
  width: 60px;
  display: flex;
  justify-content: center;
}

.options {
  width: 50px;
  display: flex;
  justify-content: center;
}
.rowInfoContainer {
  padding-left: 32px;
}
